{% extends 'blog/base.html' %}

{% block content %}
<!-- Page Header-->
<header class="masthead" style="background-image: url('assets/img/post-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>{{ post.title }}</h1>
                    <h2 class="subheading">{{ post.subtitle }}</h2>
                    <span class="meta">
                        Posted by
                        <a href="#!">{{ post.author.username }}</a> <!-- display username -->
                        on {{ post.posted_at|date:"F d, Y" }} <!-- format date -->
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                {{ post.content|linebreaks }} <!-- convert line breaks in content -->
            </div>
        </div>
    </div>
</article>

<!-- Comment Section -->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <h3>Comments</h3>
            {% for comment in comments %}
            <div class="post-preview">
                <p class="post-meta">
                    {{ comment.user.username }} said on {{ comment.timestamp|date:"F d, Y H:i" }} <!-- format date and time -->
                </p>
                <p>{{ comment.content|linebreaks }}</p>
            </div>
            <hr class="my-4" />
            {% empty %}
            <p>No comments yet.</p>
            {% endfor %}
        </div>
    </div>
</div>

<!-- Comment Form -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <h3>Leave a Comment</h3>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Send</button>
            </form>
        </div>
    </div>
</div>

{% endblock content %}
